<app-form-container [width]="'25%'">
  <ng-container>
    @defer (when formGroup) {

      <mat-card-title *ngIf="formConfig">
        {{ formConfig.form.title }}
      </mat-card-title>
      <form #form style="display: flex; flex-direction: column;" [formGroup]="formGroup!"
            (ngSubmit)="onSubmitHandler($event)">
        @if (formConfig) {
          @for (field of formConfig.form.fields; track field.name) {
            <app-text-input [field]="field"/>
          } @empty {
          }
        }
        @if (formGroup) {
          <button mat-flat-button [disabled]="formGroup.invalid">
            {{ formConfig!.form.submitLabel }}
          </button>
        }
      </form>
    } @placeholder (minimum 3000ms) {
      <div style="display:flex; flex-direction: column; gap: 8px;">
        @for (_ of Array(6); track $index) {
          <ngx-skeleton-loader [count]="1" [theme]="{height: '56px', width: '288px'}"/>
        }
      </div>
    }
  </ng-container>
</app-form-container>
