@use 'sass:map';
@use '@angular/material' as mat;

:host {
  display: block;
  width: 100%;
}

mat-form-field {
  min-width: 344px;
  width: 100%;
}

.search-field.desktop {
  background-color: lightpink;
  border-radius: 100px;

  @include mat.form-field-overrides(
      (
        outlined-container-shape: 100px,
        //outlined-input-text-placeholder-color: map.get(mat.get-theme-color(chaapaar-theme.$light-theme, tertiary, error), 50),
        //outlined-outline-color: map.get(mat.get-theme-color(chaapaar-theme.$light-theme, tertiary, error), 50),
        //outlined-hover-outline-color: map.get(mat.get-theme-color(chaapaar-theme.$light-theme, tertiary, error), 50),
        //outlined-focus-outline-color: map.get(mat.get-theme-color(chaapaar-theme.$light-theme, tertiary, error), 50),
        outlined-outline-width: 1px,
        outlined-focus-outline-width: 1px,
      )
  )
}
