@use "@angular/material" as mat;

.header-toolbar-button.desktop {
  width: 40px;
  height: 40px;

  @include mat.fab-overrides(
      (
        //  base
        small-container-shape: 50%,
        small-touch-target-display: 0,
        //  color
        small-container-color: pink,
        small-foreground-color: green,
        small-container-elevation-shadow: yellow,
        small-focus-container-elevation-shadow: yellow,
        small-hover-container-elevation-shadow: 0 0 0 black,
        small-pressed-container-elevation-shadow: green,
        small-ripple-color: brown,
        //  states
        small-state-layer-color: black,
        small-disabled-state-layer-color: darkblue,
        //  hover
        small-hover-state-layer-opacity: 20%,
        //  focus
        small-focus-state-layer-opacity: 70%,
        //  pressed
        small-pressed-state-layer-opacity: 40%,
        //  disabled
        small-disabled-state-container-color: green,
        small-disabled-state-foreground-color: red,
      )
  );
}
